@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #2F2D42;
}
select{
  padding: 0 10px;
  background-color: #fff;
  border-radius: 7px;
  color: #a6a5a8;
  font-weight: 600;
  font-family: 'Montserrat';
}
option{
  background-color: #fff;
  border-radius: 7px;
  font-family: 'Montserrat';
  border: none;
  color: #2F2D42;
  font-weight: 600;
}
body {
  background-color: #EFEDEE;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
